<div class="createWrapper">

    <div class="whitespace"></div>

    <h2>Hey Michael, create your recipe!</h2>

    <div class="inputRows">
        <div class="createRecipeRow">
            <input readonly value="Add Recipe Image">
                <button>Attach File</button>
            </input>
            <input placeholder="Recipe Name" type="text">
            <input placeholder="Recipe Description" type="text">
            <input placeholder="Recipe Total Time" type="text">
            <input class="lastInput" placeholder="Recipe Serving Size" type="text">

        </div>

        <div class="enterIngredientRow">
            <h3>Enter Ingredients:</h3>
            <input placeholder="Ingredient #1" type="text">
            <input placeholder="Ingredient #2" type="text">
            <input placeholder="Ingredient #3" type="text">
        </div>

        <div class="enterInstructionRow">
            <h3>Enter Instructions:</h3>
            <input placeholder="Instruction #1" type="text">
            <input placeholder="Instruction #2" type="text">
            <input placeholder="Instruction #3" type="text">
        </div>
    </div>
    

    <input value="Create Recipe" class="createButton" type="submit">

    <div class="whitespace2"></div>

</div>