<div class="navWrapper">

    <div class="jungleLogo"><img src="images/logo.svg" alt="Jungle_Cook_Logo"></div>

    <nav>

        <div class="links">
            <a id="home" href="#">Home</a>
            <a id="browse" href="#">Browse</a>
            <a id="create" href="#">Create Recipe</a>
            <a id="your" href="#">Your Recipes</a>

           <a id="login" href="#" class="loginButton">
               <p>Login</p>
            </a> 

        </div>

        <div class="navicon">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>
</div>