* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: LatoReg;
  src: url(../css/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoLight;
  src: url(../css/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: LatoItalic;
  src: url(../css/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: CaveatBold;
  src: url(../css/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: CaveatReg;
  src: url(../css/fonts/Caveat-Regular.ttf);
}
.home-background {
  max-width: 1920px;
  height: 100vh;
  background-image: url(../images/hero.jpg);
  background-image: linear-gradient(to bottom, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.home-background .centerCircles {
  max-width: 442px;
  width: 100%;
  height: 425px;
  position: relative;
}
.home-background .centerCircles .bigCircle {
  max-width: 358px;
  width: 100%;
  height: 358px;
  position: absolute;
  bottom: 0px;
  background-color: #ffd972;
  border-radius: 50%;
  z-index: 3;
}
.home-background .centerCircles .bigCircle h1 {
  max-width: 227px;
  width: 100%;
  height: 24px;
  font-size: 24;
  font-family: CaveatBold;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 90px;
}
.home-background .centerCircles .bigCircle p {
  text-align: center;
  height: 80px;
  width: 166px;
  font-size: 13px;
  font-family: LatoReg;
  letter-spacing: 1.5px;
  margin: 0 auto;
  margin-top: 54px;
}
.home-background .centerCircles .smallCircle {
  width: 168px;
  height: 168px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fcbcb8;
  border-radius: 50%;
  z-index: 2;
}
.home-background .centerCircles .smallCircle p {
  text-align: center;
  height: 37px;
  width: 105px;
  font-size: 10px;
  font-family: LatoItalic;
  letter-spacing: 1.5px;
  margin: 0 auto;
  margin-top: 54px;
}

@media (max-width: 425px) {
  .home-background .centerCircles {
    width: 300px;
  }
  .home-background .centerCircles .bigCircle h1 {
    margin-left: 60px;
  }
  .home-background .centerCircles .smallCircle {
    width: 121px;
  }
  .home-background .centerCircles .smallCircle p {
    width: 80px;
    height: 40px;
    font-size: 8px;
    margin-top: 30px;
  }
}
.navWrapper {
  height: 93px;
  max-width: 1920px;
  width: 100%;
  position: fixed;
  z-index: 39;
  justify-content: space-between;
}
.navWrapper .jungleLogo {
  height: 42px;
  max-width: 224px;
  width: 100%;
  margin-top: 30px;
  margin-left: 30px;
}
.navWrapper nav {
  max-width: 1880px;
  width: 80%;
  height: 92px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  position: relative;
  margin-top: -70px;
  margin-right: 30px;
}
.navWrapper nav .links {
  min-width: 350px;
  display: flex;
  position: absolute;
  right: 0px;
  justify-content: space-around;
}
.navWrapper nav .links a {
  margin-top: 8px;
  text-decoration: none;
  font-family: CaveatReg;
  color: black;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 0px 15px;
  white-space: nowrap;
}
.navWrapper nav .links .loginButton {
  width: 158px;
  height: 52px;
  background-color: #ffd972;
  border-radius: 26px;
  align-items: center;
  margin-top: -4px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.16);
}
.navWrapper nav .links .loginButton p {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 8px;
}
.navWrapper nav .navicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}

@media all and (max-width: 950px) {
  .navWrapper .jungleLogo {
    width: 160px;
  }
  .navWrapper nav {
    display: flex;
  }
  .navWrapper nav .links {
    position: fixed;
    display: none;
    width: 50%;
    height: 70%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: #F25C54;
  }
  .navWrapper nav .navicon {
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  .navWrapper nav .navicon .line {
    width: 100%;
    height: 3px;
    background-color: black;
    margin: auto;
    border-radius: 3px;
  }
}
.navMobileView .navWrapper nav .links {
  display: flex;
}

.footerWrapper {
  display: flex;
  height: 45px;
  max-width: 1920px;
  margin-top: -50px;
}
.footerWrapper footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 40;
}
.footerWrapper footer .footerCopyright {
  font-family: LatoItalic;
  font-size: 15px;
  color: #393939;
  letter-spacing: 2px;
}
.footerWrapper footer .footerContent {
  display: flex;
  align-items: center;
}
.footerWrapper footer .footerContent p {
  margin-top: 10px;
  padding: 0 10px;
  font-family: LatoItalic;
  font-size: 15px;
  letter-spacing: 2px;
  color: #393939;
}
.footerWrapper footer .socialLogos {
  display: flex;
}
.footerWrapper footer .socialLogos img {
  width: 25px;
  height: 25px;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .footerWrapper footer {
    display: flex;
    padding: 0 15px;
  }
  .footerWrapper footer .footerCopyright {
    font-size: 10px;
  }
  .footerWrapper footer .footerContent p {
    font-size: 10px;
  }
}
@media all and (max-width: 515px) {
  .footerWrapper {
    height: 95px;
    margin-top: -100px;
  }
  .footerWrapper footer {
    position: relative;
    display: block;
    padding: 0 10px;
  }
  .footerWrapper footer .footerContent {
    position: absolute;
    bottom: 0px;
  }
  .footerWrapper footer .footerContent p {
    margin-top: 20px;
    padding: 0px 5px;
  }
  .footerWrapper footer .socialLogos {
    top: 0px;
    right: 0px;
    position: absolute;
  }
}
.browse-background {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  background-image: url(../images/recipe-hero.jpg);
  background-image: linear-gradient(to bottom, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.browse-background .browse-content {
  width: 90%;
  margin-top: 93px;
  margin-left: 100px;
}
.browse-background .browse-content h1 {
  height: 32px;
  margin-top: 93px;
  font-size: 25px;
  font-family: CaveatBold;
  letter-spacing: 2px;
}
.browse-background .browse-content .row-one {
  display: flex;
  position: relative;
}
.browse-background .browse-content .row-one .browse-pizza {
  display: flex;
  margin-top: 50px;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-img {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-info {
  width: 224px;
  height: 263px;
  background-color: white;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-info h1 {
  width: 130px;
  height: 20px;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 15px;
  font-family: LatoReg;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-info p {
  margin: 0 auto;
  margin-top: 19px;
  font-family: LatoReg;
  font-size: 9px;
  width: 138px;
  height: 70px;
  letter-spacing: 1px;
  text-align: left;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-info .prep-time {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 19px;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-info .prep-time img {
  width: 23px;
  position: absolute;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-info .prep-time p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-info .servings {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 16px;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-info .servings img {
  width: 23px;
  position: absolute;
}
.browse-background .browse-content .row-one .browse-pizza .pizza-info .servings p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.browse-background .browse-content .row-one .browse-burger {
  display: flex;
  position: absolute;
  right: 0px;
  margin-top: 50px;
}
.browse-background .browse-content .row-one .browse-burger .burger-img {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-burger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.browse-background .browse-content .row-one .browse-burger .burger-info {
  width: 224px;
  height: 263px;
  background-color: white;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.browse-background .browse-content .row-one .browse-burger .burger-info h1 {
  width: 130px;
  height: 20px;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 15px;
  font-family: LatoReg;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
}
.browse-background .browse-content .row-one .browse-burger .burger-info p {
  margin: 0 auto;
  margin-top: 19px;
  font-family: LatoReg;
  font-size: 9px;
  width: 169px;
  height: 70px;
  letter-spacing: 1px;
  text-align: left;
}
.browse-background .browse-content .row-one .browse-burger .burger-info .prep-time {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 19px;
}
.browse-background .browse-content .row-one .browse-burger .burger-info .prep-time img {
  width: 23px;
  position: absolute;
}
.browse-background .browse-content .row-one .browse-burger .burger-info .prep-time p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.browse-background .browse-content .row-one .browse-burger .burger-info .servings {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 16px;
}
.browse-background .browse-content .row-one .browse-burger .burger-info .servings img {
  width: 23px;
  position: absolute;
}
.browse-background .browse-content .row-one .browse-burger .burger-info .servings p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.browse-background .browse-content .row-two {
  display: flex;
  position: relative;
}
.browse-background .browse-content .row-two .browse-chicken {
  display: flex;
  margin-top: 50px;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-img {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-pilaf.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-info {
  width: 224px;
  height: 263px;
  background-color: white;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-info h1 {
  width: 200px;
  height: 20px;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 15px;
  font-family: LatoReg;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-info p {
  margin: 0 auto;
  margin-top: 19px;
  font-family: LatoReg;
  font-size: 9px;
  width: 150px;
  height: 70px;
  letter-spacing: 1px;
  text-align: left;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-info .prep-time {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 19px;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-info .prep-time img {
  width: 23px;
  position: absolute;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-info .prep-time p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-info .servings {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 16px;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-info .servings img {
  width: 23px;
  position: absolute;
}
.browse-background .browse-content .row-two .browse-chicken .chicken-info .servings p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.browse-background .browse-content .row-two .browse-chowmein {
  display: flex;
  position: absolute;
  right: 0px;
  margin-top: 50px;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-img {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-chowmein.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-info {
  width: 224px;
  height: 263px;
  background-color: white;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-info h1 {
  width: 130px;
  height: 20px;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 15px;
  font-family: LatoReg;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-info p {
  margin: 0 auto;
  margin-top: 19px;
  font-family: LatoReg;
  font-size: 9px;
  width: 160px;
  height: 70px;
  letter-spacing: 1px;
  text-align: left;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-info .prep-time {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 19px;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-info .prep-time img {
  width: 23px;
  position: absolute;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-info .prep-time p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-info .servings {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 16px;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-info .servings img {
  width: 23px;
  position: absolute;
}
.browse-background .browse-content .row-two .browse-chowmein .chowmein-info .servings p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.browse-background .browse-content .browse_whitespace {
  height: 100px;
}

@media (max-width: 1220px) {
  .browse-background .browse-content {
    margin-left: 0px;
    margin: 0 auto;
  }
  .browse-background .browse-content h1 {
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .browse-background .browse-content .row-one {
    display: block;
  }
  .browse-background .browse-content .row-one .browse-pizza {
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    justify-content: center;
  }
  .browse-background .browse-content .row-one .browse-burger {
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    justify-content: center;
  }
  .browse-background .browse-content .row-two {
    display: block;
  }
  .browse-background .browse-content .row-two .browse-chicken {
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    justify-content: center;
  }
  .browse-background .browse-content .row-two .browse-chowmein {
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .browse-background .browse-content {
    margin-left: 50px;
  }
  .browse-background .browse-content h1 {
    margin-left: 0px;
  }
  .browse-background .browse-content .row-one .browse-pizza {
    display: block;
  }
  .browse-background .browse-content .row-one .browse-pizza .pizza-img {
    height: 149px;
    width: 297px;
  }
  .browse-background .browse-content .row-one .browse-pizza .pizza-info {
    width: 297px;
    height: 167px;
    margin-top: -50px;
  }
  .browse-background .browse-content .row-one .browse-pizza .pizza-info h1 {
    padding: 10px 0px;
    font-size: 10px;
    height: 16px;
    width: 100px;
    border-bottom: 2px solid black;
  }
  .browse-background .browse-content .row-one .browse-pizza .pizza-info p {
    width: 180px;
    font-size: 7px;
  }
  .browse-background .browse-content .row-one .browse-pizza .pizza-info .prep-time {
    margin-top: -19px;
  }
  .browse-background .browse-content .row-one .browse-burger {
    display: block;
  }
  .browse-background .browse-content .row-one .browse-burger .burger-img {
    height: 149px;
    width: 297px;
  }
  .browse-background .browse-content .row-one .browse-burger .burger-info {
    width: 297px;
    height: 167px;
    margin-top: -50px;
  }
  .browse-background .browse-content .row-one .browse-burger .burger-info h1 {
    padding: 10px 0px;
    font-size: 10px;
    height: 16px;
    width: 100px;
    border-bottom: 2px solid black;
  }
  .browse-background .browse-content .row-one .browse-burger .burger-info p {
    width: 180px;
    font-size: 7px;
  }
  .browse-background .browse-content .row-one .browse-burger .burger-info .prep-time {
    margin-top: -19px;
  }
  .browse-background .browse-content .row-two .browse-chicken {
    display: block;
  }
  .browse-background .browse-content .row-two .browse-chicken .chicken-img {
    height: 149px;
    width: 297px;
  }
  .browse-background .browse-content .row-two .browse-chicken .chicken-info {
    width: 297px;
    height: 167px;
    margin-top: -50px;
  }
  .browse-background .browse-content .row-two .browse-chicken .chicken-info h1 {
    padding: 10px 0px;
    font-size: 10px;
    height: 16px;
    width: 120px;
    border-bottom: 2px solid black;
  }
  .browse-background .browse-content .row-two .browse-chicken .chicken-info p {
    width: 180px;
    font-size: 7px;
  }
  .browse-background .browse-content .row-two .browse-chicken .chicken-info .prep-time {
    margin-top: -19px;
  }
  .browse-background .browse-content .row-two .browse-chowmein {
    display: block;
  }
  .browse-background .browse-content .row-two .browse-chowmein .chowmein-img {
    height: 149px;
    width: 297px;
  }
  .browse-background .browse-content .row-two .browse-chowmein .chowmein-info {
    width: 297px;
    height: 167px;
    margin-top: -50px;
  }
  .browse-background .browse-content .row-two .browse-chowmein .chowmein-info h1 {
    padding: 10px 0px;
    font-size: 10px;
    height: 16px;
    width: 110px;
    border-bottom: 2px solid black;
  }
  .browse-background .browse-content .row-two .browse-chowmein .chowmein-info p {
    width: 200px;
    font-size: 7px;
  }
  .browse-background .browse-content .row-two .browse-chowmein .chowmein-info .prep-time {
    margin-top: -19px;
  }
}
.loginWrapper {
  max-width: 1920px;
  min-height: 800px;
  height: 100vh;
  background-color: #FFD972;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.loginWrapper a {
  text-decoration: none;
}
.loginWrapper h1 {
  font-family: LatoReg;
  font-size: 30px;
  letter-spacing: 3px;
  width: 100%;
  margin-bottom: 50px;
}
.loginWrapper input {
  width: 100%;
  height: 18px;
  border: none;
  border-bottom: black solid 3px;
  font-family: LatoReg;
  font-size: 18px;
  background-color: #FFD972;
  font-weight: lighter;
  color: black;
  font-size: 12px;
  letter-spacing: 1px;
}
.loginWrapper input:focus {
  outline: none;
}
.loginWrapper ::placeholder {
  color: black;
  margin-top: -2px;
}
.loginWrapper .loginDiv {
  width: 209px;
  height: 284px;
  display: block;
  position: relative;
}
.loginWrapper .loginDiv .inputwrapper1 {
  height: 18px;
  margin-bottom: 50px;
}
.loginWrapper .loginDiv .inputwrapper2 {
  height: 18px;
}
.loginWrapper .loginDiv .loginButton2 {
  align-items: center;
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0px;
  border-radius: 26px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  align-items: center;
  border-bottom: none;
  margin-top: 6px;
  font-family: CaveatReg;
  font-size: 25px;
  letter-spacing: 2px;
  cursor: pointer;
}

.signUpDiv {
  width: 250px;
  height: 450px;
  display: block;
  position: relative;
}
.signUpDiv h2 {
  font-size: 12px;
  font-family: LatoItalic;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.signUpDiv .inputwrapper3 {
  margin-bottom: 50px;
}
.signUpDiv .inputwrapper4 {
  margin-bottom: 50px;
}
.signUpDiv .inputwrapper5 {
  margin-bottom: 50px;
}
.signUpDiv .inputwrapper6 {
  margin-bottom: 50px;
}
.signUpDiv .signUpButton {
  align-items: center;
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0px;
  border-radius: 26px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.16);
  text-align: center;
  border-bottom: none;
  color: black;
  align-items: center;
  margin-top: 6px;
  font-family: CaveatReg;
  font-size: 25px;
  letter-spacing: 2px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .loginWrapper {
    display: block;
    height: 100%;
  }
  .loginWrapper .whitespace {
    height: 175px;
  }
  .loginWrapper .loginDiv {
    margin: 0 auto;
    margin-bottom: 115px;
  }
  .loginWrapper .signUpDiv {
    margin: 0 auto;
  }
  .loginWrapper .whitespace {
    height: 175px;
  }
}
.createWrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.createWrapper .whitespace {
  height: 215px;
}
.createWrapper h2 {
  margin-bottom: 80px;
  font-family: CaveatBold;
  font-size: 25px;
  letter-spacing: 1px;
}
.createWrapper h3 {
  margin-bottom: 35px;
  font-family: LatoReg;
  font-size: 20px;
  letter-spacing: 1px;
}
.createWrapper input:focus {
  outline: none;
}
.createWrapper .inputRows input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: black solid 3px;
  margin-bottom: 85px;
  font-family: LatoLight;
  font-size: 20px;
  letter-spacing: 1px;
}
.createWrapper .inputRows ::placeholder {
  color: black;
}
.createWrapper .inputRows .createRecipeRow .inputwrapper1 {
  position: relative;
  height: 125px;
}
.createWrapper .inputRows .createRecipeRow .inputwrapper1 input {
  margin-top: 15px;
}
.createWrapper .inputRows .createRecipeRow .inputwrapper1 button {
  position: absolute;
  width: 110px;
  height: 36px;
  top: 0px;
  right: 0px;
  font-family: CaveatReg;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #EFA7A7;
  border-radius: 26px;
  border: none;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.createWrapper .inputRows .createRecipeRow .inputwrapper1 button:focus {
  outline: none;
}
.createWrapper .inputRows .createRecipeRow .lastInput {
  margin-bottom: 135px;
}
.createWrapper .inputRows .enterIngredientRow .inputwrapper2 {
  position: relative;
  height: 100%;
}
.createWrapper .inputRows .enterIngredientRow .inputwrapper2 input {
  margin-top: 15px;
}
.createWrapper .inputRows .enterIngredientRow .inputwrapper2 img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.createWrapper .inputRows .enterInstructionRow .inputwrapper3 {
  position: relative;
  height: 100%;
}
.createWrapper .inputRows .enterInstructionRow .inputwrapper3 input {
  margin-top: 15px;
}
.createWrapper .inputRows .enterInstructionRow .inputwrapper3 img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.createWrapper .createButton {
  position: absolute;
  max-width: 422px;
  width: 100%;
  min-height: 52px;
  text-align: center;
  border: none;
  cursor: pointer;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.16);
  background-color: #EFA7A7;
  border-radius: 26px;
  font-family: CaveatReg;
  font-size: 25px;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  bottom: 125px;
  left: 0;
  right: 0;
}
.createWrapper .whitespace2 {
  height: 155px;
}

@media (max-width: 768px) {
  .createWrapper h2 {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 125px;
    left: 0px;
    right: 0px;
  }
  .createWrapper .inputRows input {
    font-size: 16px;
  }
  .createWrapper .inputRows .createRecipeRow button {
    font-size: 16px;
  }
  .createWrapper .createButton {
    bottom: 150px;
  }
  .createWrapper .whitespace2 {
    height: 200px;
  }
}
.your-background {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background-image: url(../images/recipe-hero.jpg);
  background-image: linear-gradient(to bottom, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.your-background .your-content {
  width: 90%;
  margin-top: 93px;
  margin-left: 100px;
}
.your-background .your-content h1 {
  height: 32px;
  margin-top: 93px;
  font-size: 25px;
  font-family: CaveatBold;
  letter-spacing: 2px;
}
.your-background .your-content .row-one {
  display: flex;
  position: relative;
}
.your-background .your-content .row-one .your-pizza {
  display: flex;
  margin-top: 50px;
}
.your-background .your-content .row-one .your-pizza .pizza-img {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  position: relative;
}
.your-background .your-content .row-one .your-pizza .pizza-img a {
  text-decoration: none;
}
.your-background .your-content .row-one .your-pizza .pizza-img .viewButton {
  width: 127px;
  height: 42px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  top: 110px;
  color: black;
  background-color: #FFD972;
  font-family: CaveatReg;
  text-align: center;
  border: none;
  cursor: pointer;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.16);
  border-radius: 26px;
  font-size: 20px;
  letter-spacing: 2px;
}
.your-background .your-content .row-one .your-pizza .pizza-img .viewButton p {
  margin-top: 10px;
}
.your-background .your-content .row-one .your-pizza .pizza-info {
  width: 224px;
  height: 263px;
  background-color: white;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.your-background .your-content .row-one .your-pizza .pizza-info h1 {
  width: 130px;
  height: 20px;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 15px;
  font-family: LatoReg;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
}
.your-background .your-content .row-one .your-pizza .pizza-info p {
  margin: 0 auto;
  margin-top: 19px;
  font-family: LatoReg;
  font-size: 9px;
  width: 138px;
  height: 70px;
  letter-spacing: 1px;
  text-align: left;
}
.your-background .your-content .row-one .your-pizza .pizza-info .prep-time {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 19px;
}
.your-background .your-content .row-one .your-pizza .pizza-info .prep-time img {
  width: 23px;
  position: absolute;
}
.your-background .your-content .row-one .your-pizza .pizza-info .prep-time p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.your-background .your-content .row-one .your-pizza .pizza-info .servings {
  margin: 0 auto;
  width: 83px;
  height: 24.5px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 16px;
}
.your-background .your-content .row-one .your-pizza .pizza-info .servings img {
  width: 23px;
  position: absolute;
}
.your-background .your-content .row-one .your-pizza .pizza-info .servings p {
  height: 12px;
  width: 60px;
  margin-top: -0.5px;
  font-size: 8px;
  font-family: LatoReg;
  position: absolute;
  right: 0px;
  text-align: right;
}
.your-background .your-content .bottom_buttons {
  display: flex;
  height: 100px;
  margin-top: 15px;
}
.your-background .your-content .bottom_buttons a {
  text-decoration: none;
}
.your-background .your-content .bottom_buttons .editButton {
  width: 140px;
  height: 42px;
  color: black;
  background-color: #FFD972;
  font-family: CaveatReg;
  text-align: center;
  border: none;
  cursor: pointer;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.16);
  border-radius: 26px;
  font-size: 20px;
  letter-spacing: 2px;
}
.your-background .your-content .bottom_buttons .editButton p {
  margin-top: 10px;
}
.your-background .your-content .bottom_buttons .deleteButton {
  width: 140px;
  height: 42px;
  color: black;
  background-color: #FFD972;
  font-family: CaveatReg;
  text-align: center;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.16);
  border-radius: 26px;
  font-size: 20px;
  letter-spacing: 2px;
}
.your-background .your-content .bottom_buttons .deleteButton p {
  margin-top: 10px;
}
.your-background .your-content .your_whitespace {
  height: 100px;
}

@media (max-width: 1220px) {
  .your-background .your-content {
    margin-left: 0px;
    margin: 0 auto;
  }
  .your-background .your-content h1 {
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .your-background .your-content .row-one {
    display: block;
  }
  .your-background .your-content .row-one .your-pizza {
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    justify-content: center;
  }
  .your-background .your-content .bottom_buttons {
    width: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .your-background .your_top_whitespace {
    height: 75px;
  }
  .your-background .your-content {
    margin-left: 50px;
  }
  .your-background .your-content h1 {
    margin-left: 0px;
    font-size: 19px;
  }
  .your-background .your-content .row-one .your-pizza {
    display: block;
  }
  .your-background .your-content .row-one .your-pizza .pizza-img {
    height: 149px;
    width: 297px;
  }
  .your-background .your-content .row-one .your-pizza .pizza-img .viewButton {
    top: 50px;
  }
  .your-background .your-content .row-one .your-pizza .pizza-info {
    width: 297px;
    height: 167px;
    margin-top: -50px;
  }
  .your-background .your-content .row-one .your-pizza .pizza-info h1 {
    padding: 10px 0px;
    font-size: 10px;
    height: 16px;
    width: 100px;
    border-bottom: 2px solid black;
  }
  .your-background .your-content .row-one .your-pizza .pizza-info p {
    width: 180px;
    font-size: 7px;
  }
  .your-background .your-content .row-one .your-pizza .pizza-info .prep-time {
    margin-top: -19px;
  }
  .your-background .your-content .bottom_buttons {
    width: 100%;
  }
}