<div class="loginWrapper">
    <div class="whitespace"></div>
    <div class="loginDiv">
        <h1>Login Here!</h1>
        <div class="inputwrapper1">
            <input id="uName" placeholder="Email Address" type="email" required>
        </div>
        <div class="inputwrapper2">
            <input id="pWord" minlength="8" placeholder="Password" type="password" required>
        </div>
        <input id="logIn" value="Login"  type="submit" class="loginButton2">
        </input>
    </div>
    <div class="signUpDiv">
        <h2>don't have an account?</h2>
        <h1>Sign Up!</h1>
        <div class="inputwrapper3">
            <input placeholder="First Name" type="text">
        </div>
        <div class="inputwrapper4">
            <input placeholder="Last Name" type="text">
        </div>
        <div class="inputwrapper5">
            <input id="uName" placeholder="Email Address" type="email" required>
        </div>
        <div class="inputwrapper6">
            <input id="pWord" minlength="8" placeholder="Password" type="password" required>
        </div>
        <input type="submit" id="submitBtn" class="signUpButton" value="Sign Up">
        </input>
    </div>
    <div class="whitespace"></div>
</div>