<div class="your-background">
    <div class="your-content">
        <div class="your_top_whitespace"></div>
        <h1>Hey Michael, here are your recipes!</h1>

        <div class="row-one">
            <div class="your-pizza">
            <div class="pizza-img">
                <a id="view_recipe" href="#" class="viewButton">
                    <p>View</p>
                </a>
            </div>
            <div class="pizza-info">
                <h1>Supreme Pizza</h1>
                <p>Make pizza night super duper out of this world with homemade pizza. This recipe is supreme with vegetables and two types of meat. Yum!
                </p>
                <div class="prep-time">
                    <img src="images/time.svg" alt="Time">
                    <p>1h 24min</p>
                </div>
                <div class="servings">
                    <img src="images/servings.svg" alt="Servings">
                    <p>4 servings</p>
                </div>
            </div>
            </div>
        </div>
        <div class="bottom_buttons">
            <a id="edit_recipe" href="#" class="editButton">
                <p>Edit Recipe</p>
            </a>
            <a id="delete_recipe" href="#" class="deleteButton">
                <p>Delete</p>
            </a>
        </div>
        <div class="your_whitespace"></div>
    </div>
</div>